---
import { Image } from "astro:assets"
import type { Projects } from "../../pages/[...slug].astro"

type Props = Projects[number]
const props = Astro.props
---

<li
  class="shadow-lg w-full border-primary/20 bg-base-100 rounded-2xl cursor-pointer hover:border-accent/50 transition-all duration-300 transform-gpu hover:-translate-y-1 ease-out group overflow-hidden opacity-0"
>
  <a
    href={props.data.link}
    class="flex flex-col sm:flex-row sm:space-x-5"
    target="_blank"
  >
    <Image
      class="w-full sm:max-w-[14rem] object-cover rounded-md"
      src={props.data.cover as ImageMetadata}
      alt={props.data.coverAlt}
      format="avif"
      width={500}
      height={500}
    />
    <section class="flex w-full p-6 flex-col h-full justify-between">
      <div>
        <h3
          class="text-neutral group-hover:text-accent font-bold uppercase text-xl"
        >
          {props.data.title}
        </h3>
        <p class="text-base-content/90 mt-1 text-justify leading-relaxed">
          {props.body}
        </p>
      </div>
      <div class="mt-5 flex flex-wrap font-medium gap-2">
        {
          props.data.technologies.split(",").map((technology) => {
            return (
              <span class="badge badge-primary badge-outline group-hover:text-accent group-hover:font-medium">
                {technology}
              </span>
            )
          })
        }
      </div>
    </section>
  </a>
</li>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const hasLoaded = entry.target.classList.contains("loaded")
      if (entry.isIntersecting || hasLoaded) {
        entry.target.classList.remove("opacity-0")
        entry.target.classList.add("loaded")
      } else {
        entry.target.classList.add("opacity-0")
      }
    })
  })

  const hiddenElements = document.querySelectorAll(
    ".opacity-0"
  ) as NodeListOf<HTMLLIElement>

  hiddenElements.forEach((element) => {
    observer.observe(element)
  })
</script>
