---
import { Image } from "astro:assets"

type Props = {
  title: string
  technologies: string[]
  body: string
  link: string
  cover: ImageMetadata
  coverAlt: string
}

const props = Astro.props
---

<li
  class="shadow w-full border-primary/20 bg-base-100 rounded-2xl cursor-pointer hover:border-accent/50 transition-all duration-300 transform-gpu hover:-translate-y-1 ease-out group overflow-hidden "
>
  <a
    href={props.link}
    class="flex flex-col sm:flex-row sm:space-x-5"
    target="_blank"
  >
    <Image
      class="w-full sm:max-w-[14rem] object-cover rounded-md"
      src={props.cover}
      alt={props.coverAlt}
      format="webp"
      quality="high"
    />

    <section class="flex w-full p-6 flex-col h-full justify-between">
      <div>
        <h3
          class="text-neutral group-hover:text-accent font-bold uppercase text-xl"
        >
          {props.title}
        </h3>
        <p
          class="text-base-content text-base mt-1 text-justify leading-relaxed"
        >
          {props.body}
        </p>
      </div>
      <div class="mt-5 flex flex-wrap font-medium gap-2">
        {
          props.technologies.map((technology) => {
            return (
              <span class="badge badge-primary badge-outline group-hover:text-accent group-hover:font-medium">
                {technology}
              </span>
            )
          })
        }
      </div>
    </section>
  </a>
</li>
