---
import AboutMe from "../components/AboutMe.astro"
import Layout from "../components/layout/Layout.astro"
import Navbar from "../components/navbar/Navbar.astro"
import Profile from "../components/Profile.astro"
import Projects from "../components/projects/Projects.astro"
import { getEntryBySlug, getCollection } from "astro:content"
import Technologies from "../components/Technologies.astro"

export function getStaticPaths() {
  return [
    {
      params: {
        slug: "en",
      },
    },
    {
      params: {
        slug: "es",
      },
    },
  ]
}
export type Params = {
  slug: "en" | "es"
}

const { slug } = Astro.params as Params

const projects = await getCollection(`${slug}-projects`)
const introducing = await getEntryBySlug(`${slug}-introducing`, "introducing")
export type Introducing = typeof introducing
export type Projects = typeof projects

---

<Layout lang={slug}>
  <header class="max-w-3xl w-full mx-auto">
    <Profile />
    <Navbar />
  </header>
  <AboutMe introducing={introducing} />
  <main class="max-w-3xl w-full mx-auto">
    <Technologies />
    <Projects projects={projects} />
  </main>
</Layout>
