---
import avatar from "../assets/avatar-cut.png"
import { SITE_TITLE } from "../consts"
import { Icon } from "astro-icon"
import { Image } from "astro:assets"
import type { Params } from "../pages/[...slug].astro"

const languageChanger = {
  en: {
    href: "/es",
  },
  es: {
    href: "/en",
  },
} as const

const { slug: language } = Astro.params as Params
const { href } = languageChanger[language]

let languages = ["English", "Español"]
if (language === "es") languages = languages.reverse()
---

<section class="flex justify-between items-center">
  <div class="flex space-x-3 items-center">
    <Image
      class="h-12 w-12"
      src={avatar}
      alt="My as a notion avatar"
      width={70}
      height={70}
      quality="high"
    />
    <h2 class="text-lg sm:text-xl font-semibold">
      {SITE_TITLE}
    </h2>
  </div>

  <div class="flex">
    <button
      class="mr-2 shadow-sm border-gray-300 sm:mr-5 border dark:border-gray-800 px-3 py-2 bg-base-200 rounded-full transition-transform ease-out hover:scale-105"
    >
      <a
        class="flex items-center w-full h-full"
        hreflang={language}
        href={href}
        rel="prefetch"
      >
        <Icon class="inline-block sm:mr-1" name="ri:global-line" size={20} />
        <div class="justify-between space-x-1 sm:flex hidden font-medium">
          <span class="text-base-content font-semibold">{languages[0]}</span>
          <span class="text-gray-400">|</span>
          <span class="text-base-content/70">{languages[1]}</span>
        </div>
      </a>
    </button>

    <button
      onclick="switchTheme()"
      id="theme-toggle"
      aria-label="Theme Switcher"
      class="btn shadow-sm dark:border-gray-800 border-gray-300 text-lg flex items-center space-x-2 px-3 py-2 rounded-full transition-transform ease-out hover:scale-105 hover:bg-base-200"
      data-toggle-theme="sunset,winter"
      data-act-class="ACTIVECLASS"
    >
      <Icon size="23" name="ri:sun-fill" />
    </button>
  </div>
</section>

<script is:inline>
  function switchTheme() {
    const currentTheme = localStorage.getItem("theme") ?? "sunset"
    const nextTheme = currentTheme === "sunset" ? "winter" : "sunset"
    document.documentElement.setAttribute("data-theme", nextTheme)
    localStorage.setItem("theme", nextTheme)
  }
</script>
